* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: hsl(0, 0%, 8%);
  font-family: "Inter", sans-serif;
  font-size: 14px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.mainBox {
  min-height: 580px;
  width: 365px;
  background-color: hsl(0, 0%, 12%);
  text-align: center;
  border-radius: 12px;
}
.avatar {
  border-radius: 50%;
  height: 5.3rem;
  margin-top: 38px;
}
.name {
  color: hsl(0, 0%, 100%);
  font-weight: 500;
  margin-top: 23px;
  font-size: 1.45rem;
}
.location {
  color: hsl(75, 94%, 57%);
  font-weight: 600;
  margin: 10px;
  font-size: 0.85rem;
}
.description {
  color: hsl(0, 0%, 100%);
  margin-top: 25px;
  margin-bottom: 15px;
  font-weight: 200;
  font-size: 0.85rem;
}

ul.socialLinks {
  font-weight: 600;
  list-style: none;
  list-style-type: none;
  margin-top: 25px;
}
.socialLinks li {
  margin-left: 38px;
  margin-bottom: 15px;
  border-radius: 7px;

  background-color: hsl(0, 0%, 20%);
  width: 288px;

  padding: 13px;
  color: hsl(0, 0%, 100%);
}

.socialLinks a {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
}

.socialLinks li:hover {
  background-color: hsl(75, 94%, 57%);
  cursor: pointer;
}
.socialLinks li:hover a {
  color: hsl(0, 0%, 20%);
}
.attribution {
  color: hsl(0, 0%, 100%);
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@media only screen and (max-width: 505px) {
  .mainBox {
    width: 65%;
    min-height: 70%;
  }
  .socialLinks {
    width: 85%;
  }
}
